<section id="authors">
	<div class="col-md-6">
	    <h2>Forfattere</h2>
	</div>

	<div class="form-group col-md-4 searchbox pull-right">
	    <div class="input-group">
	        <input id="search" ng-model="search.name" class="form-control">
	        <div class="input-group-addon">
	            <span class="glyphicon glyphicon-search"></span>
	        </div>
	    </div>
	</div>

	<table class="table  table-hover  table-pointer">
		<thead>
			<tr>
				<th>#</th>
				<th>Navn</th>
				<th>Epost</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="author in authors | filter:search">
				<td ng-click="updateAuthorBtnClick({{author.authorId}}, $index)">{{author.authorId}}</td>
				<td ng-click="updateAuthorBtnClick({{author.authorId}}, $index)">{{author.name}}</td>
				<td ng-click="updateAuthorBtnClick({{author.authorId}}, $index)">{{author.email}}</td>
				<td class="col-xs-4">
					<div class="btn-group pull-right">
					
					<button type="button" class="btn btn-link btn-delete" ng-click="deleteAuthorBtnClick($index)" ng-confirm-click="Er du sikker på at du vil slette forfatteren {{author.name}}">Slett <span class="glyphicon glyphicon-remove"></span></button>
					<button type="button" class="btn btn-link" ng-click="updateAuthorBtnClick({{author.authorId}}, $index)">Rediger <span class="glyphicon glyphicon-pencil"></span></button>
					</div>
					</td>
			</tr>
		</tbody>
	</table>
	<button type="button" class="btn btn-primary" ng-click="createAuthorBtnClick()">Ny forfatter</button>
</section>



