<div>
	


<div class="col-md-6">
    <h2>Retningslinjer</h2>
</div>

<div class="form-group col-md-4 searchbox pull-right">
    <div class="input-group">
        <input id="search" ng-model="searchText" class="form-control">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
        </div>
    </div>
</div>

<!-- Guideline liste -->

<table class="table table-hover  table-pointer">
	<thead>
		<tr>
			<th>#</th>
			<th>Korttittel</th>
			<th>Sist oppdatert</th>
			<th>Språk</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="guideline in guidelines | filter:searchText">
			<td btn-href="/guideline/{{guideline.guidelineId}}">{{guideline.guidelineId}}</td>
			<td btn-href="/guideline/{{guideline.guidelineId}}">{{guideline.shortTitle}}</td>
			<td btn-href="/guideline/{{guideline.guidelineId}}">{{guideline.updatedDate | date}}</td>
			<td btn-href="/guideline/{{guideline.guidelineId}}">{{guideline.language}}</td>
			<td class="col-xs-4">
				<div class="btn-group pull-right">
				
				<button type="button" class="btn btn-link btn-delete" ng-click="deleteGuidelineBtnClick($index)" ng-confirm-click="Er du sikker på at du vil slette retningslinjen {{guideline.title}}">Slett <span class="glyphicon glyphicon-remove"></span></button>
				<button type="button" class="btn btn-link" btn-href="/guideline/{{guideline.guidelineId}}">Rediger <span class="glyphicon glyphicon-pencil"></span></button>
				</div>
				</td>
				
		</tr>
	</tbody>
</table>
<button type="button" class="btn btn-primary" ng-click="addGuidelineBtnClick()">Ny retningslinje</button> 



</div>