<article>
    

<form role="form" ng-submit="updateOrCreatePicoOutcome()">
    <div class="form-group">
        <label for="IsContinuous">Iscontinuous</label>
        <select name="IsContinuous" ng-model="picoOutcome.IsContinuous" class="form-control">
            <option value="true">Ja</option>
            <option value="false">Nei</option>
        </select>
    </div>
    <div class="form-group">
        <label for="absoluteDifference">AbsoluteDifference</label>
        <input type="number" step="any" class="form-control" id="absoluteDifference" ng-model="picoOutcome.absoluteDifference">
    </div>
    <div class="form-group">
        <label for="absoluteDifferenceType">AbsoluteDifferenceType</label>
        <input type="text" class="form-control" id="absoluteDifferenceType" ng-model="picoOutcome.absoluteDifferenceType">
    </div>
    <div class="form-group">
        <label for="absoluteDifferenceHigh">AbsoluteDifferenceHigh</label>
        <input type="number" step="any" class="form-control" id="absoluteDifferenceHigh" ng-model="picoOutcome.absoluteDifferenceHigh">
    </div>
    <div class="form-group">
        <label for="absoluteDifferenceHighType">AbsoluteDifferenceHighType</label>
        <input type="text" class="form-control" id="absoluteDifferenceHighType" ng-model="picoOutcome.absoluteDifferenceHighType">
    </div>
    <div class="form-group">
        <label for="absoluteDifferenceLow">AbsoluteDifferenceLow</label>
        <input type="number" step="any" class="form-control" id="absoluteDifferenceLow" ng-model="picoOutcome.absoluteDifferenceLow">
    </div>
    <div class="form-group">
        <label for="absoluteDifferenceLowType">AbsoluteDifferenceLowType</label>
        <input type="text" class="form-control" id="absoluteDifferenceLowType" ng-model="picoOutcome.absoluteDifferenceLowType">
    </div>
    <div class="form-group">
        <label for="certaintyEffect">CertaintyEffect</label>
        <input type="text" class="form-control" id="certaintyEffect" ng-model="picoOutcome.certaintyEffect">
    </div>
    <div class="form-group">
        <label for="certaintyEffectText">CertaintyEffectText</label>
        <input type="text" class="form-control" id="certaintyEffectText" ng-model="picoOutcome.certaintyEffectText">
    </div>
    <div class="form-group">
        <label for="controlCount">ControlCount</label>
        <input type="number" class="form-control" id="controlCount" ng-model="picoOutcome.controlCount">
    </div>
    <div class="form-group">
        <label for="outcome">Outcome</label>
        <input type="text" class="form-control" id="outcome" ng-model="picoOutcome.outcome">
    </div>
    <div class="form-group">
        <label for="interventionCount">InterventionCount</label>
        <input type="number" class="form-control" id="interventionCount" ng-model="picoOutcome.interventionCount">
    </div>
    <div class="form-group">
        <label for="relativeEffect">RelativeEffect</label>
        <input type="number" step="any" class="form-control" id="relativeEffect" ng-model="picoOutcome.relativeEffect">
    </div>
    <div class="form-group">
        <label for="relativeEffectConfidenceHigh">RelativeEffectConfidenceHigh</label>
        <input type="number" step="any" class="form-control" id="relativeEffectConfidenceHigh" ng-model="picoOutcome.relativeEffectConfidenceHigh">
    </div>
    <div class="form-group">
        <label for="relativeEffectConfidenceLow">RelativeEffectConfidenceLow</label>
        <input type="number" step="any" class="form-control" id="relativeEffectConfidenceLow" ng-model="picoOutcome.relativeEffectConfidenceLow">
    </div>
    <div class="form-group">
        <label for="relativeEffectConfidencePercent">RelativeEffectConfidencePercent</label>
        <input type="number" step="any" class="form-control" id="relativeEffectConfidencePercent" ng-model="picoOutcome.relativeEffectConfidencePercent">
    </div>
    <div class="form-group">
        <label for="studies">Studies</label>
        <input type="text" class="form-control" id="studies" ng-model="picoOutcome.studies">
    </div>
    <div class="form-group">
        <label for="summary">Summary</label>
        <input type="text" class="form-control" id="summary" ng-model="picoOutcome.summary">
    </div>
    <div class="form-group">
        <label for="meshTerm">MeshTerm</label>
        <input type="text" class="form-control" id="meshTerm" ng-model="picoOutcome.meshTerm">
    </div>
    <div class="form-group">
        <label for="meshId">MeshId</label>
        <input type="text" class="form-control" id="meshId" ng-model="picoOutcome.meshId">
    </div>
    <div class="form-group">
        <label for="timeFrame">TimeFrame</label>
        <input type="text" class="form-control" id="timeFrame" ng-model="picoOutcome.timeFrame">
    </div>
    <div class="form-group">
        <label for="studyType">StudyType</label>
        <input type="text" class="form-control" id="studyType" ng-model="picoOutcome.studyType">
    </div>
    <div class="form-group">
        <label for="qualityRisk">QualityRisk</label>
        <input type="text" class="form-control" id="qualityRisk" ng-model="picoOutcome.qualityRisk">
    </div>
    <div class="form-group">
        <label for="qualityRiskComment">QualityRiskComment</label>
        <input type="text" class="form-control" id="qualityRiskComment"
               ng-model="picoOutcome.qualityRiskComment">
    </div>
    <div class="form-group">
        <label for="qualityRiskHeterogeneity">QualityRiskHeterogeneity</label>
        <input type="text" class="form-control" id="qualityRiskHeterogeneity" ng-model="picoOutcome.qualityRiskHeterogeneity">
    </div>
    <div class="form-group">
        <label for="qualityRiskHeterogeneityComment">QualityRiskHeterogeneityComment</label>
        <input type="text" class="form-control" id="qualityRiskHeterogeneityComment" ng-model="picoOutcome.qualityRiskHeterogeneityComment">
    </div>
    <div class="form-group">
        <label for="qualityIndirectness">QualityIndirectness</label>
        <input type="text" class="form-control" id="qualityIndirectness" ng-model="picoOutcome.qualityIndirectness">
    </div>
    <div class="form-group">
        <label for="qualityIndirectnessComment">QualityIndirectnessComment</label>
        <input type="text" class="form-control" id="qualityIndirectnessComment"
               ng-model="picoOutcome.qualityIndirectnessComment">
    </div>
    <div class="form-group">
        <label for="qualityImprecision">QualityImprecision</label>
        <input type="text" class="form-control" id="qualityImprecision" ng-model="picoOutcome.qualityImprecision">
    </div>
    <div class="form-group">
        <label for="qualityImprecisionComment">QualityImprecisionComment</label>
        <input type="text" class="form-control" id="qualityImprecisionComment" ng-model="picoOutcome.qualityImprecisionComment">
    </div>
    <div class="form-group">
        <label for="qualityBias">QualityBias</label>
        <input type="text" class="form-control" id="qualityBias" ng-model="picoOutcome.qualityBias">
    </div>
    <div class="form-group">
        <label for="qualityBiasComment">QualityBiasComment</label>
        <input type="text" class="form-control" id="qualityBiasComment" ng-model="picoOutcome.qualityBiasComment">
    </div>
    <div class="form-group">
        <label for="comperatorReference">ComperatorReference</label>
        <input type="number" class="form-control" id="comperatorReference" ng-model="picoOutcome.comperatorReference">
    </div>
    <div class="form-group">
        <label for="relativeEffectReferenceId">RelativeEffectReferenceId</label>
        <input type="text" class="form-control" id="relativeEffectReferenceId" ng-model="picoOutcome.relativeEffectReferenceId">
    </div>

        <button type="submit" class="btn btn-primary btn-lg">Lagre</button>
        <button ng-show="picoOutcome.picoOutcomeId" type="button" class="btn btn-link btn-delete" ng-confirm-click="Er du sikker på at du vil slette pico  outcome?" ng-click="deletePicoOutcomeBtnClick()">Slett <span class="glyphicon glyphicon-remove"></span></button>
    <br><br>
    <p></p>
    <div>UpdatedBy: {{picoOutcome.updatedBy}}</div>
    <div>UpdatedDate: {{picoOutcome.updatedDate | date}}</div>
    <p></p>
    <div>CreatedBy: {{picoOutcome.createdBy}}</div>
    <div>CreatedDate: {{picoOutcome.createdDate | date}}</div>
    <p></p>

</form>
</article>