<?xml version="1.0" encoding="utf-8"?>

<configuration>
  
  <system.webServer>
    
    <rewrite>
      <rules>
        <rule name="redirectHTTPS">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true"/>
          </conditions>
          <action type="Redirect" url="https://red-data.helsedirektoratet.no/{R:1}" redirectType="SeeOther"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>


</configuration>
