
<article>
	<div class="row relative">
		<div class="col-md-8 resourceheader">
			<h1>Retningslinje</h1>&nbsp;&nbsp;&nbsp; 
			<published-status></published-status>
		</div>
		
		<div class="previewbuttoncontainer col-md-4">
			<preview-button></preview-button>
		</div>
	</div>
	
	<section>
		<form role="form" ng-submit="updateOrCreateGuideline()">
			<div class="form-group col-md-12">
				<label for="shortTitle">Korttittel</label>
				<input type="text" class="form-control" id="shortTitle" ng-model="guideline.shortTitle" required>

			</div>
			<div class="form-group col-md-12">
				<label for="title">Tittel</label>
				<input type="text" class="form-control" id="title" ng-model="guideline.title" required>
			</div>
			
			<div class="form-group col-md-12">
				<label for="text">Om retningslinjen</label>
				<textarea ng-model="guideline.text" redactor="block.setClass('red')"></textarea>
			</div>
			<div class="form-group col-md-12">
				<label for="disclaimer">Disclaimer</label>
				<textarea class="form-control" id="disclaimer"  ng-model="guideline.disclaimer" redactor></textarea>
			</div>
			<div class="form-group col-md-6">
				<label for="sponsors">ISBN</label>
				<input type="text" class="form-control" id="sponsors" ng-model="guideline.isbn">
			</div>
			<div class="form-group col-md-6">
				<label for="sponsors">Is-nummer</label>
				<input type="text" class="form-control" id="sponsors" ng-model="guideline.isNumber">
			</div>
			<div class="form-group col-md-6">
				<label for="sponsors">Sponsorer</label>
				<input type="text" class="form-control" id="sponsors" ng-model="guideline.sponsors">
			</div>
			<div class="form-group col-md-6">
				<label for="owner">Eier</label>
				<div class="input-group">
					<input type="text" class="form-control" id="owner" ng-model="guideline.owner" placeholder="Helsedirektoratet">
					<span class="input-group-addon" popover-trigger="mouseenter" popover="Navn på eier av retningslinjen" popover-append-to-body="true">
						<span class="glyphicon glyphicon-info-sign"></span>
					</span>
				</div>
				
			</div>
			<div class="form-group col-md-6">
				<label for="type">Type</label>
				<select class="form-control" id="type" ng-model="guideline.type" required>
					<option value="">Vennligst velg..</option>
					<option value="1">Nasjonal faglig retningslinje</option>
					<option value="2">Veileder</option>
					<option value="3">Pakkeforløp for kreft</option>
					<option value="4">Prioriteringsveileder</option>
				</select>
			</div>

				<div class="form-group col-md-6">
					<label for="type">Publiseringsstatus</label>
					<select class="form-control" id="type" ng-model="guideline.publishedStage">
						<option value="0">Kladd</option>
						<option value="1">Høringsutkast</option>
						<option value="2">Publisert</option>
					</select>
				</div>
			
			
				<button type="submit" class="btn btn-primary btn-lg">Lagre</button>
				<button ng-show="guideline.guidelineId" type="button" class="btn btn-link btn-delete" ng-confirm-click="Er du sikker på at du vil slette retningslinjen {{guideline.shortTitle}}" ng-click="removeGuidelineBtnClick()">Slett <span class="glyphicon glyphicon-remove"></span></button>
			
		</form>
	</section>
	
	<br><br>
	<!-- List Of Sections in guideline -->
	<sections-list></sections-list>

	<!-- List Of Authors in guideline -->
	<authors-list></authors-list>

	<metadata created-by="{{guideline.createdBy}}" updated-by="{{guideline.updatedBy}}" created-date="{{guideline.createdDate}}" updated-date="{{guideline.updatedDate}}"></metadata>

	
</article>
