<form role="form" ng-submit="updateOrCreateEmrInfo()">
	<div class="form-group">
		<label for="summary">Name</label>
		<input type="text" class="form-control" id="summary" ng-model="emrInfo.name">
	</div>
	<div class="form-group">
		<label for="population">Short Name</label>
		<input type="text" class="form-control" id="population" ng-model="emrInfo.shortName">
	</div>
	<div class="form-group">
		<label for="intervention">System Schema</label>
		<input type="text" class="form-control" id="intervention" ng-model="emrInfo.systemSchema">
	</div>
	<div class="form-group">
		<label for="control">System Schema Id</label>
		<input type="text" class="form-control" id="control" ng-model="emrInfo.systemSchemaId">
	</div>
	<div class="form-group">
		<label for="outcome">Type</label>
		<input type="text" class="form-control" id="outcome" ng-model="emrInfo.type">
	</div>
	
	<button type="submit" class="btn btn-primary">Lagre</button>
	<button ng-show="emrInfo.emrInfoId" type="button" class="btn btn-link btn-delete" ng-confirm-click="Er du sikker på at du vil slette EMR info {{emrInfo.name}}" ng-click="deleteEmrInfoBtnClick()">Slett <span class="glyphicon glyphicon-remove"></span></button>

</form>

<metadata ng-show="emrInfo.emrInfoId" created-by="{{emrInfo.createdBy}}" updated-by="{{emrInfo.updatedBy}}" created-date="{{emrInfo.createdDate}}" updated-date="{{emrInfo.updatedDate}}"></metadata>