<article>

    <section>
        <form role="form" ng-submit="updateOrCreatePico()" class="form-horizontal">
            <div class="form-group">
                <label for="summary">Sammendrag</label>
                <textarea class="form-control" id="summary" ng-model="pico.summary" rows="10" redactor></textarea>
            </div>
            <div class="form-group">
                <label for="population" class="col-sm-12">Populasjon</label>    
                <div class="col-sm-10"><input type="text" class="form-control" id="population" ng-model="pico.population"></div>
                <button class="btn btn-default col-sm-2" ng-click="taxCodeBtnClick(0)" type="button" ng-class="{disabled: !pico.picoId}">Kodeverk</button>
            </div>

            <div class="form-group">
                <label for="intervention" class="col-sm-12">Intervensjon</label>    
                <div class="col-sm-10"><input type="text" class="form-control" id="intervention" ng-model="pico.intervention"></div>
                <button class="btn btn-default col-sm-2" ng-click="taxCodeBtnClick(1)" type="button" ng-class="{disabled: !pico.picoId}">Kodeverk</button>
            </div>

           <div class="form-group">
               <label for="control" class="col-sm-12">Komparator</label>    
               <div class="col-sm-10"><input type="text" class="form-control" id="control" ng-model="pico.control"></div>
               <button class="btn btn-default col-sm-2" ng-click="taxCodeBtnClick(2)" type="button" ng-class="{disabled: !pico.picoId}">Kodeverk</button>
           </div>

            <div class="form-group">
                <label for="outcome" class="col-sm-12">Utfall</label>    
                <div class="col-sm-10"><input type="text" class="form-control" id="outcome" ng-model="pico.outcome"></div>
               <button class="btn btn-default col-sm-2" ng-click="taxCodeBtnClick(3)" type="button" ng-class="{disabled: !pico.picoId}">Kodeverk</button>
            </div>

            <button type="submit" class="btn btn-primary btn-lg">Lagre</button>
            <button ng-show="pico.picoId" type="button" class="btn btn-link btn-delete" ng-confirm-click="Er du sikker på at du vil slette pico?" ng-click="deletePicoBtnClick()">Slett <span class="glyphicon glyphicon-remove"></span></button>

        </form>
    </section>
    <br><br><br>

    <picooutcomes-list></picooutcomes-list>


    <metadata ng-show="pico.picoId" created-by="{{pico.createdBy}}" updated-by="{{pico.updatedBy}}" created-date="{{pico.createdDate}}" updated-date="{{pico.updatedDate}}"></metadata>

</article>