<section id="Emrinfos" ng-show="recommendation.recommendationId" class="well">
	<h3>Emr info</h3>
	<table class="table table-hover table-pointer" >
		<thead>
			<tr>
				<th>#</th>
				<th>Opprettet</th>
				<th>Oppdatert</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="emr in recommendation.emrInfo" ng-hide="emr.isDeleted" >
				<td btn-href="/guideline/{{guidelineId}}/section/{{sectionId}}/recommendation/{{recommendation.recommendationId}}/emrinfo/{{emr.emrInfoId}}">{{emr.emrInfoId}}</td>
				<td btn-href="/guideline/{{guidelineId}}/section/{{sectionId}}/recommendation/{{recommendation.recommendationId}}/emrinfo/{{emr.emrInfoId}}">{{emr.createdDate | date}}</td>
				<td btn-href="/guideline/{{guidelineId}}/section/{{sectionId}}/recommendation/{{recommendation.recommendationId}}/emrinfo/{{emr.emrInfoId}}">{{emr.updatedDate | date}}</td>
				<td class="text-right col-sm-3">
					<button type="button" class="btn btn-link btn-delete" ng-click="deleteEmrInfoBtnClick($index)" ng-confirm-click="Er du sikker på at du vil slette EMR info med id {{emr.emrInfoId}}">Slett <span class="glyphicon glyphicon-remove"></span></button>
					
					<button type="button" class="btn btn-link" btn-href="/guideline/{{guidelineId}}/section/{{sectionId}}/recommendation/{{recommendation.recommendationId}}/emrinfo/{{emr.emrInfoId}}">Rediger <span class="glyphicon glyphicon-pencil"></span></button>
				</td>
			</tr>
		</tbody>
	</table>
	<button type="button" class="btn btn-secondary" ng-click="addEmrInfoBtnClick()">Legg til emr info</button>
</section>