
<div ng-if="guideline.publishedStage == 0" class="alert alert-warning">
	{{resource}} er lagret som kladd
</div>
<div ng-if="guideline.publishedStage == 1" class="alert alert-info">
	{{resource}} er sendt på høring
</div>
<div ng-if="guideline.publishedStage == 2" class="alert alert-success">
	{{resource}} er publisert
</div>

<div ng-if="section.publishedStage == 0" class="alert alert-warning">
	{{resource}} er lagret som kladd
</div>
<div ng-if="section.publishedStage == 1" class="alert alert-info">
	{{resource}} er sendt på høring
</div>
<div ng-if="section.publishedStage == 2" class="alert alert-success">
	{{resource}} er publisert
</div>

<div ng-if="recommendation.publishedStage == 0" class="alert alert-warning">
	{{resource}} er lagret som kladd
</div>
<div ng-if="recommendation.publishedStage == 1" class="alert alert-info">
	{{resource}} er sendt på høring
</div>
<div ng-if="recommendation.publishedStage == 2" class="alert alert-success">
	{{resource}} er publisert
</div>