<section id="Recommendations" class="well" ng-show="section.sectionId">
	<h3>Anbefalinger</h3>
	<table class="table table-hover table-pointer" >
		<thead>
			<tr>
				<th>#</th>
				<th>Tittel</th>
				<th>Oppdatert</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="recommendation in section.recommendations" ng-hide="recommendation.isDeleted" >
				<td btn-href="{{baseUrl}}{{section.sectionId}}/recommendation/{{recommendation.recommendationId}}">{{recommendation.recommendationId}}</td>
				<td btn-href="{{baseUrl}}{{section.sectionId}}/recommendation/{{recommendation.recommendationId}}">{{recommendation.heading}}</td>
				<td btn-href="{{baseUrl}}{{section.sectionId}}/recommendation/{{recommendation.recommendationId}}">{{recommendation.updatedDate | date}}</td>
				<td class="text-right  col-sm-3">
					<button type="button" class="btn btn-link btn-delete"  ng-click="deleteRecommendationBtnClick($index)" ng-confirm-click="Er du sikker på at du vil slette anbefalingen {{recommendation.heading}}">Slett <span class="glyphicon glyphicon-remove"></span></button>
					
					<button type="button" class="btn btn-link" btn-href="{{baseUrl}}{{section.sectionId}}/recommendation/{{recommendation.recommendationId}}">Rediger <span class="glyphicon glyphicon-pencil"></span></button>
				</td>
				
			</tr>
		</tbody>
	</table>

	<button ng-show="section.sectionId" type="button" class="btn btn-secondary" ng-click="addRecommendationBtnClick()">Legg til anbefaling</button>
	<button ng-show="section.sectionId" type="button" class="btn btn-secondary" ng-click="editSortOrderRecommendationBtnClick()">Endre rekkefølge</button>

</section>