<section id="Sections" class="well" ng-show="section.sectionId">
	<h3>Underseksjoner</h3>
	<table class="table table-hover table-pointer" >
		<thead>
			<tr>
				<th>#</th>
				<th>Tittel</th>
				<th>Opprettet</th>
				<th>Oppdatert</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="childSection in section.childSections" ng-hide="childSection.isDeleted">
				<td btn-href="{{baseUrl}}{{childSection.sectionId}}">{{childSection.sectionId}}</td>
				<td btn-href="{{baseUrl}}{{childSection.sectionId}}">{{childSection.heading}}</td>
				<td btn-href="{{baseUrl}}{{childSection.sectionId}}">{{childSection.createdDate | date}}</td>
				<td btn-href="{{baseUrl}}{{childSection.sectionId}}">{{childSection.updatedDate | date}}</td>
				<td class="text-right col-sm-3">
					<button type="button" class="btn btn-link btn-delete" ng-click="deleteSectionBtnClick($index)" ng-confirm-click="Er du sikker på at du vil slette seksjonen {{childSection.heading}}">Slett <span class="glyphicon glyphicon-remove"></span></button>
					
					<button type="button" class="btn btn-link" btn-href="{{baseUrl}}{{childSection.sectionId}}">Rediger <span class="glyphicon glyphicon-pencil"></span></button>
				</td>
				
			</tr>
		</tbody>
	</table>
	<button ng-show="section.sectionId" type="button" class="btn btn-secondary" ng-click="addSectionBtnClick()">Legg til underseksjon</button>
	<button ng-show="section.sectionId" type="button" class="btn btn-secondary" ng-click="editSortOrderSubsectionsBtnClick()">Endre rekkefølge</button>

</section>