<section class="well" id="Taxonomy-codes" ng-show="picoCode.picoCodeId">
	<h3>Taxonomy codes</h3>
	<table class="table table-hover table-pointer" ng-show="picoCode.taxonomyCodes.length > 0">
		<thead>
			<tr>
				<th>#</th>
				<th>Opprettet</th>
				<th>Oppdatert</th>
				<th>Schemasystem</th>
				<th>Code</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="taxonomyCode in picoCode.taxonomyCodes" ng-hide="taxonomyCode.isDeleted" >
				<td btn-href="{{baseUrl}}{{picoCode.picoCodeId}}/taxonomyCode/{{taxonomyCode.taxonomyCodeId}}">{{taxonomyCode.taxonomyCodeId}}</td>
				<td btn-href="{{baseUrl}}{{picoCode.picoCodeId}}/taxonomyCode/{{taxonomyCode.taxonomyCodeId}}">{{taxonomyCode.createdDate | date}}</td>
				<td btn-href="{{baseUrl}}{{picoCode.picoCodeId}}/taxonomyCode/{{taxonomyCode.taxonomyCodeId}}">{{taxonomyCode.updatedDate | date}}</td>
				<td btn-href="{{baseUrl}}{{picoCode.picoCodeId}}/taxonomyCode/{{taxonomyCode.taxonomyCodeId}}">{{taxonomyCode.schemaSystem}}</td>
				<td btn-href="{{baseUrl}}{{picoCode.picoCodeId}}/taxonomyCode/{{taxonomyCode.taxonomyCodeId}}">{{taxonomyCode.code}}</td>
				<td class="text-right col-sm-3">
					<button type="button" class="btn btn-link btn-delete" ng-click="deleteTaxonomyCodeBtnClick($index)" ng-confirm-click="Er du sikker på at du vil slette taxonomy code med id {{taxonomyCode.taxonomyCodeId}}">Slett <span class="glyphicon glyphicon-remove"></span></button>
					
					<button type="button" class="btn btn-link" btn-href="{{baseUrl}}{{picoCode.picoCodeId}}/taxonomyCode/{{taxonomyCode.taxonomyCodeId}}">Rediger <span class="glyphicon glyphicon-pencil"></span></button>
				</td>
				
			</tr>
		</tbody>
	</table>
	<button ng-show="picoCode.picoCodeId" type="button" class="btn btn-secondary" ng-click="addTaxonomyCodeBtnClick()">Legg til Taxonomy Code</button>
	
</section>