<article class="picooutcome">
    

<form role="form" ng-submit="updateOrCreatePicoOutcome()">
    <div class="row">
        
    
    <div class="form-group col-md-6">
        <label for="outcome">Outcome</label>
        <input type="text" class="form-control" id="outcome" ng-model="picoOutcome.outcome">
    </div>
    <div class="form-group col-md-3">
        <label for="meshTerm">MeshTerm</label>
        <input type="text" class="form-control" id="meshTerm" ng-model="picoOutcome.meshTerm">
    </div>
    <div class="form-group col-md-3">
        <label for="meshId">MeshId</label>
        <input type="text" class="form-control" id="meshId" ng-model="picoOutcome.meshId">
    </div>
</div>
<hr>
<div class="labelsmall">
    

<h3>Effektestimater (resultater)</h3>
<section class="effektestimater">
    

<div class="row">
    <div class="col-md-3 color2">
        <p class="controlheader" ng-bind="pico.control">&nbsp;</p>
        <div class="form-group col-md-5 nopadding">
            <label for="controlCount" class="sr-only">controlcount</label>
            <input type="number" class="form-control input-sm" id="controlCount" ng-model="picoOutcome.controlCount">
        </div>
        <div class="form-group col-md-7">
           <i>per 1000</i>
        </div>
    </div>
    <div class="col-md-9 color2">
        
        
            <div class="form-group col-md-3">
                <div class="form-group">
                    <div class="row">
                        <p class="controlheader col-md-12">Relativ effekt</p>
                    </div>
                    <div class="col-md-4 nopadding">
                        <label for="relativeEffect" class="sr-only">Relativ effekt</label>
                        <select class="form-control input-sm" id="relativeEffect"  ng-model="picoOutcome.relativeEffects">
                            <option value="1">Relative risk</option>
                            <option value="2">Odds ratio</option>
                            <option value="3">Hazard ratio</option>
                        </select>
                    </div>
                    <div class="col-md-8 nopadding">
                        <label for="relativeEffectConfidencePercent" class="sr-only">Relativ effekt prosent</label>
                        <input type="number" placeholder="0.00" step="any" class="form-control input-sm" id="relativeEffectConfidencePercent" ng-model="picoOutcome.relativeEffectConfidencePercent">
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4">
                <div class="form-group">
                    <div class="row">
                        <p class="controlheader col-md-12">Konfidensintervall</p>
                    </div>
                    <div class="col-md-1 nopadding text-lg">
                        (
                    </div>
                    <div class="col-md-4 nopadding">
                        <label for="relativeEffectConfidenceLow" class="sr-only">Relativ effekt konfidensintervall lav</label>
                        <input type="number" step="any" placeholder="0.00" class="form-control input-sm" id="relativeEffectConfidenceLow" ng-model="picoOutcome.relativeEffectConfidenceLow">
                    </div>
                    <div class="col-md-1 nopadding text-center text-lg">
                        -
                    </div>
                    <div class="col-md-4 nopadding">
                        <label for="relativeEffectConfidenceHigh" class="sr-only">Relativ effekt konfidensintervall høy</label>
                        <input type="number" step="any" placeholder="0.00" class="form-control input-sm" id="relativeEffectConfidenceHigh" ng-model="picoOutcome.relativeEffectConfidenceHigh">
                    </div>
                    <div class="col-md-1 nopadding text-lg">
                        &nbsp;)
                    </div>
                </div>
            </div>
            <div class="form-group col-md-5">
                <p class="controlheader">Deltakere (studier), oppfølging</p>
                <label for="studies" class="sr-only">Deltakere (studier), oppfølging</label>
                <input type="text" class="form-control input-sm" id="studies" ng-model="picoOutcome.studies">
            </div>

        

        
    </div>
</div>

<div class="row">
    <div class="col-md-3 color1">
    <p class="controlheader" ng-bind="pico.intervention">&nbsp;</p>
        <div class="form-group col-md-5 nopadding">
            
            <label for="interventionCount" class="sr-only">interventioncount</label>
            <input type="number" class="form-control input-sm" id="interventionCount" ng-model="picoOutcome.interventionCount">
        </div>
        <div class="col-md-7">
            <i>per 1000</i>
        </div>
    </div>
    <div class="col-md-9 color1">
        
            <div class="form-group col-md-5">
                <div class="row">
                    <p class="controlheader col-md-12">Forskjell</p>
                </div>
                <div class="col-md-4 nopadding">
                    <label for="absoluteDifference" class="sr-only">Difference with intervention</label>
                   <input type="number" step="any"  placeholder="0" class="form-control input-sm" id="absoluteDifference" ng-model="picoOutcome.absoluteDifference">
                </div>
                <div class="col-md-2 nopadding">
                    <label for="absoluteDifferenceType" class="sr-only">AbsoluteDifferenceType</label>
                    <select class="form-control input-sm" id="absoluteDifferenceType" ng-model="picoOutcome.absoluteDifferenceType">
                        <option value="1">fewer</option>
                        <option value="2">more</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <i>per 1000</i>
                </div>
                
            </div>
            <div class="col-md-7 nopadding">
                <div class="row">
                    <p class="controlheader">Konfidensintervall</p>
                </div>
                <div class="col-md-1 nopadding text-lg">
                    (
                </div>
                <div class="col-md-3 nopadding form-group">
                    <label for="absoluteDifferenceLow" class="sr-only">AbsoluteDifferenceLow</label>
                    <input type="number" step="any"  placeholder="0.00" class="form-control input-sm" id="absoluteDifferenceLow" ng-model="picoOutcome.absoluteDifferenceLow">
                </div>
                <div class="col-md-1 nopadding form-group">
                    <label for="absoluteDifferenceLowType" class="sr-only">AbsoluteDifferenceLowType</label>
                    <select class="form-control input-sm" id="absoluteDifferenceLowType" ng-model="picoOutcome.absoluteDifferenceLowType">
                        <option value="1">fewer</option>
                        <option value="2">more</option>
                    </select>

                </div>
                <div class="col-md-2 text-lg">
                    -
                </div>
                <div class="col-md-3 nopadding form-group">
                    <label for="absoluteDifferenceHigh" class="sr-only">AbsoluteDifferenceHigh</label>
                    <input type="number" step="any"  placeholder="0.00" class="form-control input-sm" id="absoluteDifferenceHigh" ng-model="picoOutcome.absoluteDifferenceHigh">
                </div>

                    <div class="col-md-1 nopadding form-group">
                        <label for="absoluteDifferenceHighType" class="sr-only">AbsoluteDifferenceHighType</label>
                        <select class="form-control input-sm" id="absoluteDifferenceHighType" ng-model="picoOutcome.absoluteDifferenceHighType">
                            <option value="1">fewer</option>
                            <option value="2">more</option>
                        </select>
                    </div>

                <div class="col-md-1 nopadding text-lg">
                    &nbsp;)
                </div>
                
            </div>

        
        
        
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="form-group ">
            <label for="timeFrame">TimeFrame</label>
            <input type="text" class="form-control" id="timeFrame" ng-model="picoOutcome.timeFrame">
        </div>
    </div>
</div>

</section>
<hr>

<h3>Your confidence in the effect estimates (Quality Assessment)</h3>
    
<div class="col-md-3">
    <div class="form-group">
        <label for="studyType">StudyType</label>
        <select class="form-control" id="studyType" ng-model="picoOutcome.studyType">
        <option value="1">RCT - Randomized control trials</option>
        <option value="2">Observational studies</option>
        </select>
    </div>
</div>
<div class="col-md-9">

        Risk of bias

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
            <label for="qualityRisk" class="sr-only">QualityRisk</label>
            <select class="form-control" id="qualityRisk" ng-model="picoOutcome.qualityRisk">
            <option value="1">None</option>
                    <option value="2">Serious</option>
                    <option value="3">Very serious</option>
            </select>
            </div>
        </div>
        <div class="col-md-8">
            <label for="qualityRiskComment" class="sr-only">QualityRiskComment</label>
            <input type="text" placeholder="comment..." class="form-control" id="qualityRiskComment" ng-model="picoOutcome.qualityRiskComment">
        </div>
    </div>


        Imprecision

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="qualityImprecision" class="sr-only">QualityImprecision</label>
                <select class="form-control" id="qualityImprecision" ng-model="picoOutcome.qualityImprecision">
                <option value="1">None</option>
                    <option value="2">Serious</option>
                    <option value="3">Very serious</option>
                </select>
            </div>
            
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label for="qualityImprecisionComment" class="sr-only">QualityImprecisionComment</label>
                <input type="text" placeholder="comment..." class="form-control" id="qualityImprecisionComment" ng-model="picoOutcome.qualityImprecisionComment">
            </div>
        </div>
    </div>


        Indirectness

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="qualityIndirectness" class="sr-only">QualityIndirectness</label>
                <select class="form-control" id="qualityIndirectness" ng-model="picoOutcome.qualityIndirectness">
                <option value="1">None</option>
                    <option value="2">Serious</option>
                    <option value="3">Very serious</option>
                </select>
            </div>

        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label for="qualityIndirectnessComment" class="sr-only">QualityIndirectnessComment</label>
                <input type="text" placeholder="comment..." class="form-control" id="qualityIndirectnessComment" ng-model="picoOutcome.qualityIndirectnessComment">
            </div>
        </div>
    </div>


        Inconsistency

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="qualityRiskHeterogeneity" class="sr-only">QualityRiskHeterogeneity</label>
                <select class="form-control" id="qualityRiskHeterogeneity" ng-model="picoOutcome.qualityRiskHeterogeneity">
                    <option value="1">None</option>
                    <option value="2">Serious</option>
                    <option value="3">Very serious</option>
                </select>
            </div>

        </div>
        <div class="col-md-8">
                        <div class="form-group">
                <label for="qualityRiskHeterogeneityComment" class="sr-only">QualityRiskHeterogeneityComment</label>
                <input type="text" placeholder="comment..." class="form-control" id="qualityRiskHeterogeneityComment" ng-model="picoOutcome.qualityRiskHeterogeneityComment">
            </div>
        </div>
    </div>


        Publication bias

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="qualityBias"  class="sr-only">QualityBias</label>
                <select class="form-control" id="qualityBias"  ng-model="picoOutcome.qualityBias">
                    <option value="1">None</option>
                    <option value="2">Serious</option>
                    <option value="3">Very serious</option>
                </select>
            </div>

            
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label for="qualityBiasComment"  class="sr-only">QualityBiasComment</label>
                <input type="text" placeholder="comment..." class="form-control" id="qualityBiasComment" ng-model="picoOutcome.qualityBiasComment">
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="certaintyEffect">Confidence</label>
            <select class="form-control" id="certaintyEffect" ng-model="picoOutcome.certaintyEffect">
                <option value="4">High</option>
                <option value="3">Moderate</option>
                <option value="2">Low</option>
                <option value="1">Very low</option>
            </select>
        </div>
    </div>
    <div class="col-md-9">
        <div class="form-group">
            <label for="certaintyEffectText">Main reasons for confidence change</label>
            <input type="text" class="form-control" id="certaintyEffectText" ng-model="picoOutcome.certaintyEffectText">
        </div>
    </div>
</div>
    


        <button type="submit" class="btn btn-primary btn-lg">Lagre</button>
        <button ng-show="picoOutcome.picoOutcomeId" type="button" class="btn btn-link btn-delete" ng-confirm-click="Er du sikker på at du vil slette pico  outcome?" ng-click="deletePicoOutcomeBtnClick()">Slett <span class="glyphicon glyphicon-remove"></span></button>
</div>

</form>

<metadata ng-show="picoOutcome.picoOutcomeId" created-by="{{picoOutcome.createdBy}}" updated-by="{{picoOutcome.updatedBy}}" created-date="{{picoOutcome.createdDate}}" updated-date="{{picoOutcome.updatedDate}}"></metadata>
</article>